<h1>About Page</h1>
<div class="center jumbotron1">
    </div>
    
    <p>
       My pages : StockPage <a href="phanifinanceapp.herokuapp.com"> </a> | PhotoSharing App <a href="phaniphotoapp.herokuapp.com"> </a>| Alarm Clock <a href="clockapp1.herokuapp.com"> </a> 
<%= link_to 'home' , root_path%>