<h1>About Page</h1>
<div class="center jumbotron1">
    </div>
    
    <p>
       My pages :<a href="https://phanifinanceapp.herokuapp.com">StockPage</a> | <a href="https://phaniphotoapp.herokuapp.com">PhotoSharing</a>| <a href="https://clockapp1.herokuapp.com">Alarm Clock</a> 
<%= link_to 'home' , root_path%>