<h1>About Page</h1>
<div class="center jumbotron1">
    </div>
    
    <p>
       My pages :<a href="phanifinanceapp.herokuapp.com">StockPage</a> | <a href="phaniphotoapp.herokuapp.com">PhotoSharing</a>| <a href="clock1app.herokuapp.com"> Alarm Clock</a> 
<%= link_to 'home' , root_path%>