<marquee loop 10><h3>For admin functionalities Please go to Search and type "phani" to get credentials</h3></marquee>
<div class="center jumbotron">
    <h1>Welcome To The Science and Technology Blog</h1>


 <%=link_to "Sign Up" ,signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
