<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://phanikumar353.herokuapp.com">My Web Page </a>
      </small>
    <ul>
      <li><%=link_to"About me",about_path%></li>
    </ul>

  </footer>
</div>
